@page "/categories/create"
@inject MyBasicBlazorApp.Data.AppDbContext DB
@using MyBasicBlazorApp.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Category" OnValidSubmit="AddCategory" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Category.Title" class="form-control" /> 
                <ValidationMessage For="() => Category.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Category.Description" class="form-control" /> 
                <ValidationMessage For="() => Category.Description" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/categories">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Category Category { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddCategory()
    {
        DB.Categories.Add(Category);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/categories");
    }
}
