@page "/categories"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MyBasicBlazorApp.Data.AppDbContext DB
@using MyBasicBlazorApp.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Categories">
    <PropertyColumn Property="category => category.Title" />
    <PropertyColumn Property="category => category.Description" />

    <TemplateColumn Context="category">
        <a href="@($"categories/edit?id={category.Id}")">Edit</a> |
        <a href="@($"categories/details?id={category.Id}")">Details</a> |
        <a href="@($"categories/delete?id={category.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
